.KeySection {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    flex-direction: column;
    gap: 90px;
    position: relative;

    & .KeyCards {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    & h2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

@media (max-width: 320px) {
    .KeySection {
        gap: 60px;
        & .KeyCards {
            gap: 40px;
            flex-direction: column ;
            width: auto;
        }
    }
}
