.GridItem {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 30px;

    & svg {
        width: 40px;
        height: 40px;
    }


}

@media (max-width: 480px) and (min-width:321px) {
    .GridItem {

        & svg {
            width: 50px;
            height: 50px;
        }
    }
}