.App {
    padding: 0 75px;
    height: 100%;
    overflow: hidden;


    @media (max-width: 320px) {
        padding: 0 10px;
    }

    @media (max-width: 480px) and (min-width: 321px) {
        padding: 0 20px;
    }
}


