.App {
    padding: 0 75px;
    height: 100%;
    overflow: hidden;

    & .Hero {
        height: 100vh;
        position: relative;

        & .Main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            & h1 {
                color: var(--text-color, #fefefe);
                font-family: Poppins;
                font-size: 128px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            & p {
                color: var(--text-color, #fefefe);
                text-align: center;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            & span {
                color: var(--text-color, #fefefe);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                cursor: pointer;
                transition: color 0.3s ease;
                text-decoration: underline;
                text-decoration-color: var(--primary-color);
                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        & .DiveIn {
            width: 100%;
            display: flex;
            height: 40px;
            gap: 10px;
            position: absolute;
            bottom: 30px;
            left: 0;
            right: 0;
            justify-content: center;
            align-items: center;

            & h4 {
                color: var(--text-color, #fefefe);
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            & img {
                animation: subtleMoveDown 1.5s infinite ease-in-out;
                transition: bounce 0.3s ease;
            }
        }
    }

    & .About {
        height: 100vh;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: var(--white);

        & .AboutLeft,
        & .AboutRight {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        & .AboutLeft {
            display: flex;
            gap: 20px;

            & h3 {
                font-size: 64px;
                font-style: normal;
                font-weight: 300;
                line-height: 1;

                &:nth-child(3) {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            & .AboutLeftText {
                display: flex;
                flex-direction: column;

                & .AboutLeftTitle {
                    display: flex;
                    flex-direction: column;
                    gap: 0px;

                    & h1 {
                        font-size: 100px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 1;

                        &:nth-child(2) {
                            color: var(--primary-color);
                        }
                    }
                }
            }

            & hr {
                border: 1px solid #1d1d1d;
                border-radius: 5px;
            }

            & p {
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
        }

        & .AboutRight {
            justify-content: center;
            align-items: center;

            & .AboutRightContent {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 40px;
                & .AboutRightImage {
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-image: url("/my-image.jpg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                & .AboutRightSkills {
                    display: flex;
                    width: 100%;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 10px;
                    & h3 {
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@keyframes subtleMoveDown {
    0%,
    20% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}
