.Projects {
    height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-top: 130px;

    & .ProjectContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 10px;

        & .ProjectTitle {
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        & .ProjectList {
            display: flex;
            justify-content: space-between;
            overflow-x: auto;
            width: 100%;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
